* {
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block
}
ol,li,ul {
  list-style: none
}
html {
  -webkit-text-size-adjust: 100%;
  height: 100%;
}
a,div,header,span {
  -webkit-tap-highlight-color: rgba(255,255,255,0)
}
blockquote,q {
  quotes: none
}
blockquote:after,blockquote:before,q:after,q:before {
  content: '';
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
input,textarea {
  outline: 0;
  resize: none;
  font-family: PingFangSC,"Microsoft YaHei",Helvetica,"Droid Sans",Arial,sans-serif;
}
a{
  text-decoration: none;
}
body {
  -webkit-text-size-adjust: 100%;
  background: #eee;
  min-width: 320px;
  margin: auto;
  width: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica-Bold",PingFangSC,"Microsoft YaHei",Helvetica,"Droid Sans",Arial,sans-serif;
  user-select: none;
  -webkit-user-select: none;
}
html,body,#app, .container {
  min-height: 100%;
  height: 100%;
}
select {
  background: transparent;
}
.noscroll body, .noscroll #router{
  overflow: hidden;
  min-height: 100%;
  height: 100%;
}
.noscroll body {
  position: relative;
}
#app {
  width: 100%;
  margin: auto;
  min-height: 100%;
}

.clearfix:after{
  display:block;
  clear:both;
  visibility:hidden;
  height:0;
  content:" ";
  font-size:0;
}
